.heelo {
  text-align: center;
  margin-right: 20px;
  width: calc(100% - 20px)
}

.Scroll {
  height: 490px;
  overflow: auto;
}

.Scroll2 {
  width: 100%;
  overflow: auto;
  background-color: #ffffff;
}
 
  .Scroll2::-webkit-scrollbar{height: 3px; border-radius: 20px;}

.Scroll::-webkit-scrollbar {
  width: 3px;
  border-radius: 20px;
}

.Scroll::-webkit-scrollbar-track, .Scroll2::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 20px;

}

.loading{
  width: 130px;
  height: 130px;
  margin-left: 650px;
}

.Scroll::-webkit-scrollbar-thumb, .Scroll2::-webkit-scrollbar-thumb {
  background: #2874f0;
  border-radius: 20px;

}

body {
  height: 490px;
  overflow: auto;
  background-color: #f2f2f2;
}

body::-webkit-scrollbar {
  width: 3px;
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 20px;

}

body::-webkit-scrollbar-thumb {
  background: #2874f0;
  border-radius: 20px;

}



.emptyContainer{
  height: auto;
  width: 80%;
  padding: 60px 132px;

}

.emptyContainer .emptyitems{
  text-align: center;
  background-color: #ffffff;

}

.emptyContainer .emptyitems>button{
  width: 180px;
  height: 35px;
  text-align: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: #2874f0;
  color: #fff;
  font-weight: 600;
}
.emptyContainer .emptyitems>button:hover{background-color:#f2f2f2; cursor: pointer;}
.emptyContainer .emptyitems>button{ margin: 5px;}

.emptyContainer .emptyitems>button>a{
  text-decoration: none;
  color: inherit;
  
}
.emptyContainer .emptyitems>button>a:hover{
  color: #000;
  font-size: 18px;
  
}
.supercoinimg{ width: 390px;}

@media screen and (max-width:767px) {
  .css-1j4dh0n  {
    font-size: 14px;
    line-height: 20px;
  }
  .css-5bxrf8{padding:15px 10px; align-items: center; }
  .countdown>div{
    font-size: 10px;
    
  }
  .supercoinimg{ width: 100%; }
  .emptyContainer{ padding: 35px; }
  .emptyContainer .emptyitems>button{ margin: 5px;}
  .loading{ width: 100px; height: 98px; margin-left: 130px;}

}
  